<h1>Add a new Benchmark</h1>

<form method="post" action="/games">
    
    <label for="name">Title: </label><input name="name" required><br><br>
    
    <label for="quality">Quality Preset: </label>
    <select name="quality">
        <option disabled selected value> -- select an option -- </option>
        <option value="Lowest">Lowest</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Highest">Highest</option>
    </select><br><br>
    
    <label for="resolution">Resolution: </label><input type="number" name="resolution_x" required> x <input type="number" name="resolution_y" required><br><br>
        
    <label for="avg_fps">Average FPS: </label><input type="number" name="avg_fps" required><br><br>
    
    <label for="pc_id">PC ID: </label>
    <select name="pc_id" required>
        <option disabled selected value> -- select an option -- </option>
        <% @user.pcs.each do |pc| %>
            <option value=<%= pc.id %>><%= !!pc.name ? pc.name : pc.id %></option>
        <% end %>
    </select><br><br>
    
    <input type="submit" value="Add Benchmark">
</form>