Register Here!

<form method="post" action="/users">
    <label for="username">Username: </label><input type="text" name="username"><br>
    <label for="name">Name: </label><input type="text" name="name"><br>
    <label for="password">Password: </label><input type="password" name="password"><br>
    <label for="confirm">Retype Password: </label><input type="password" name="confirm"><br>
    <input type="submit" value="Register">
</form>