<style>
    table, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        border: 1px solid black;
    }
</style>

<!DOCTYPE html>
<head>
    <title>Game Bench</title>

</head>
<body>
    <h1>Game Bench Home Page!</h1>

    <% if !logged_in? %>
        <a href="/register">Register</a><br>
        <a href="/login">Log In</a>
    <% end %><br>

    <% if logged_in? %>
        <a href="/logout">Log Out</a><br>
        <a href="/users/<% session[:id] %>">View Profile</a>
    <% end %><br>

    <a href="/pcs/new">Add A New PC</a><br>
    <a href="/games/new">Add A Game Benchmark</a><br>
    <br>
    <table width="100%">
        <tr>
            <th>Game</th>
            <th>Avg FPS</th>
            <th>Settings</th>
            <th>Resolution</th>
            <th>Processor</th>
            <th>Graphics Card</th>
            <th></th>
        </th>
    </table>
</body>

</html>