<h1 style="width: 47%" class="center">Welcome to Game Bench!</h1>
<p class="center">Whether you are a casual gamer or a system builder, you will find
    that we can help you make an informed decision when it comes to building a PC. 
    Create an account or login if you have an existing one to get started. Or if you
    are simply browsing, click "Benchmarks" or "PCs" in the toolbar above.</p>