<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Game Bench</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <div class="center">
      <a href="/"><img id="homeLogo" src="/images/gamebench_logo.png" alt="Home"></a>
    </div>
    <div class="wrapper">
     
      <% if !logged_in? %>
        <h3><a href="/register">Register</a>  || 
        <a href="/login">Log In</a></h3>
      <% else %>
        <h2>Welcome <%= current_user.name %></h2>
        <a href="/logout">Log Out</a> ||
        <a href="/users/<%= session[:user_id] %>">View Profile</a><br>
      <% end %>
      <%= yield %>
      <footer class="branding">
        <small>&copy; Tyler Miller : 2020 <strong></small>
      </footer>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>